h1 {
    padding: 30px;
    margin:0px;
    background-color: lavender;
}
nav {
    padding:10px;
    margin:0px;
    background-color: lavender;
}
body { 
    background-color: lavender; 
    padding:30px;
}

.About img{
    float: right;
    max-height: 300px;
    padding: 20px
}