body {
    background-color: grey;
}

header{
    background-color: white;
    text-align: center;
    padding: 30px;
}    

.container {
    max-width: 980;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px
}

.About img{
    max-height: 300px;
    padding-top: 30px;
    padding-left: 60px;
}   

.portfolio img{
    max-height: 300px;
    padding-top: 30px;
    padding-left: 60px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}    

#contact{
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
   
